.visual_img {
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-ms-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
}

#promotionImage {
	width: 100%;
}

.sliding {
	transform: translateX(-100%);
}